@model Shsict.InternalWeb.Models.DailyReport
@{
    ViewBag.Title = "昼夜吞吐量";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@section Header{
    <script type="text/javascript">
        $(function () {
            $("form input").change(SubmitForm);

            $('input:jqmData(role="datebox")').mobiscroll(opt);



        });    
    </script>

    <a id="but_back" data-role="button" data-inline="true" data-rel="back"
        data-transition="slidedown" href="#page1" data-icon="arrow-l"
        class="ui-btn-left but_back" data-iconpos="notext" data-mini="true">Back </a>
    <div class="ui-body ui-body-c" style="padding: 0 10px; margin-bottom: -1px;">

        @using (Html.BeginForm("index", "DailyReport", FormMethod.Post, new { id = "SearchForm" }))
        {
            @Html.TextBoxFor(a => a.SearchKeyWord, new { id = "SearchBox", data_role = "datebox" })
     
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                @Html.RadioButtonFor(a => a.SearchType, "day", new { @id = "radio-choice-c", @name = "radio-choice-b", type = "radio", @checked = "checked" })
                <label for="radio-choice-c">日</label>
                @Html.RadioButtonFor(a => a.SearchType, "month", new { @id = "radio-choice-d", @name = "radio-choice-b", type = "radio" })
                <label for="radio-choice-d">月</label>
                @Html.RadioButtonFor(a => a.SearchType, "year", new { @id = "radio-choice-e", @name = "radio-choice-b", type = "radio" })
                <label for="radio-choice-e">年</label>
            </fieldset>       
        }

    </div>
}

<h3 class="tit">基本信息</h3>
<table data-role="table" data-mode="reflow" class=" table-stroke">
    <thead>
        <tr>
            @if (Model.SearchType.Trim().ToUpper() == "DAY")
            {
                <th data-priority="persist">日计划TEU</th>
                <th data-priority="2">日实际TEU</th>
                <th data-priority="3">日驳船</th>
                <th data-priority="4">日穿梭巴士</th>
                <th data-priority="5">日计划完成率</th>
            }
            else if (Model.SearchType.Trim().ToUpper() == "MONTH")
            {
                <th data-priority="6">月计划TEU</th>
                <th data-priority="7">月目标TEU</th>
                <th data-priority="8">月实际TEU</th>
                <th data-priority="9">月驳船</th>
                <th data-priority="10">月穿梭巴士</th>
                <th data-priority="11">月计划完成率</th>
                <th data-priority="12">月预计箱量</th>
            }
            else if (Model.SearchType.Trim().ToUpper() == "YEAR")
            {
                <th>年计划TEU </th>
                <th>年实际TEU </th>
                <th>年驳船 </th>
                <th>年穿梭巴士 </th>
                <th>年计划完成率 </th>
                <th>年预计箱量 </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model.SearchType.Trim().ToUpper() == "DAY")
            {
                <td>@Html.DisplayFor(a => a.LASTALLDAY_PLAN)</td>
                <td>@Html.DisplayFor(a => a.LASTALLDAY_ACTUAL)</td>
                <td>@Html.DisplayFor(a => a.LASTALLDAY_BARGE)</td>
                <td>@Html.DisplayFor(a => a.LASTALLDAY_SHUTTLE)</td>
                <td>@Html.DisplayFor(a => a.LASTALLDAY_COMPLETERATE)</td>
            }
            else if (Model.SearchType.Trim().ToUpper() == "MONTH")
            {
                <td>@Html.DisplayFor(a => a.MONTHLY_PLAN)</td>
                <td>@Html.DisplayFor(a => a.MONTHLY_TARGET)</td>
                <td>@Html.DisplayFor(a => a.MONTHLY_ACTUAL)</td>
                <td>@Html.DisplayFor(a => a.MONTHLY_BARGE)</td>
                <td>@Html.DisplayFor(a => a.MONTHLY_SHUTTLE)</td>
                <td>@Html.DisplayFor(a => a.MONTHLY_COMPLETERATE)</td>
                <td>@Html.DisplayFor(a => a.MONTHLY_PLANCONTAINER)</td>
            }
            else if (Model.SearchType.Trim().ToUpper() == "YEAR")
            {
                <td>@Html.DisplayFor(a => a.ANNUAL_PLAN)</td>
                <td>@Html.DisplayFor(a => a.ANNUAL_ACTUAL)</td>
                <td>@Html.DisplayFor(a => a.ANNUAL_BARGE)</td>
                <td>@Html.DisplayFor(a => a.ANNUAL_SHUTTLE)</td>
                <td>@Html.DisplayFor(a => a.ANNUAL_COMPLETERATE)</td>
                <td>@Html.DisplayFor(a => a.ANNUAL_PLANCONTAINER)</td>
            }
        </tr>
    </tbody>
</table>



